.playlist-videos__title {
    display: flex;
    align-items: center;
    height: 68px;
    margin: 0;
    padding: 1% 4%;
    font-weight: 400;
}

.playlist-videos {
    position: relative;
    margin-top: 2%;
}

.message {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: -100px;
}
